/**
 * Created by gerry on 1/31/2021.
 */

.block{
    display: block
}

.horizontal{
    text-align: center;
}

.absolute_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price_font{
    font-size: 40px;
    color: green;
}